<template>
  <div id="about">
    <h2>Isobar Challenge - Ged Gaskell</h2>
    <h3>Instructions</h3>
    <p>
      Rearrange the tiles using the arrow buttons so that they end up in
      numerical order from left to right, top to bottom. Lower score is better.
    </p>
  </div>
</template>

<style lang="scss">
#about {
  width: 100%;
  text-align: center;
  p {
    max-width: 500px;
    margin: auto;
  }
}
</style>
