<template>
  <div v-if="!gameOver" id="game-container">
    <div id="game-square">
      <div id="game-board">
        <game-tile
          v-for="(tile, pos) in getProcessedTiles()"
          :pos="pos"
          :key="pos"
          :label="tile.label"
          :destinations="tile.destinations"
          v-on:clickDestination="moveTile(pos, $event)"
        />
      </div>
    </div>
  </div>
  <div v-else id="game-over">
    <h1>Game Over</h1>
    <a @click="restartGame">Restart Game</a>
  </div>
</template>

<script>
import GameTile from "@/components/GameTile.vue";
import { mapMutations } from "vuex";

export default {
  name: "GameBoard",
  components: {
    GameTile
  },
  data() {
    return {
      gameTiles: {},
      numTiles: 9,
      gameOver: false
    };
  },
  created: function() {
    // create sequence of numbers
    for (let i = 0; i < this.numTiles; i++) {
      this.gameTiles[i] = i;
    }
    this.gameTiles[this.numTiles - 1] = ""; // make one blank
    this.shufflePositions();
  },
  computed: {
    numRows: function() {
      return Math.sqrt(this.numTiles);
    }
  },
  methods: {
    ...mapMutations(["incrementScore", "resetScore"]),
    restartGame() {
      this.shufflePositions();
      this.resetScore();
      this.gameOver = false;
      this.$forceUpdate();
    },
    shufflePositions() {
      for (let i = this.numTiles - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [this.gameTiles[i], this.gameTiles[j]] = [
          this.gameTiles[j],
          this.gameTiles[i]
        ];
      }
    },
    moveTile(pos, destination) {
      console.debug("Pos: " + pos + ", Dest: " + destination);
      pos = Number(pos);
      let destPos = pos;
      if (destination == "up") destPos = pos - this.numRows;
      if (destination == "down") destPos = pos + this.numRows;
      if (destination == "left") destPos = pos - 1;
      if (destination == "right") destPos = pos + 1;

      let newTile = this.gameTiles[pos];
      this.$set(this.gameTiles, pos, this.gameTiles[destPos]);
      this.$set(this.gameTiles, destPos, newTile);

      this.incrementScore();
      this.checkGameState();
      this.$forceUpdate();
    },
    getProcessedTiles: function() {
      let tiles = {};
      for (let pos = 0; pos < this.numTiles; pos++) {
        let destinations = {
          up: false,
          down: false,
          left: false,
          right: false
        };
        let label = "";
        if (this.gameTiles[pos] !== "") {
          // if not the blank tile

          // set labels as human readable 1-8
          label = this.gameTiles[pos] + 1;

          // determine if tile can be moved vertically
          if (this.gameTiles[pos - this.numRows] === "") destinations.up = true;

          if (this.gameTiles[pos + this.numRows] === "")
            destinations.down = true;

          // determine if tile can be moved horizontally
          if (this.gameTiles[pos - 1] === "" && pos % this.numRows != 0) {
            destinations.left = true;
          }

          if (
            this.gameTiles[pos + 1] === "" &&
            pos % this.numRows != this.numRows - 1
          ) {
            destinations.right = true;
          }
        }
        tiles[pos] = { label: label, destinations: destinations };
      }
      return tiles;
    },
    checkGameState: function() {
      for (let pos = 0; pos < this.numTiles - 1; pos++) {
        if (pos != this.gameTiles[pos]) {
          return;
        }
      }
      this.gameOver = true;
    }
  }
};
</script>

<style lang="scss">
#game-container {
  position: relative;
  max-width: calc(100vh - 80px);
  width: 100%;
  margin: auto;
}
#game-square {
  padding-top: 100%;
  width: 100%;
}
#game-board {
  background: #eeeeee;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#game-over {
  width: 100%;
  text-align: center;
  padding-top: 50px;
  a {
    cursor: pointer;
  }
}
</style>
