<template>
  <div class="game-tile">
    <div class="label">{{ label }}</div>
    <div class="destinations">
      <a
        v-if="destinations.up"
        class="up"
        @click="$emit('clickDestination', 'up')"
        >&uarr;</a
      >
      <a
        v-if="destinations.down"
        class="down"
        @click="$emit('clickDestination', 'down')"
        >&darr;</a
      >
      <a
        v-if="destinations.left"
        class="left"
        @click="$emit('clickDestination', 'left')"
        >&larr;</a
      >
      <a
        v-if="destinations.right"
        class="right"
        @click="$emit('clickDestination', 'right')"
        >&rarr;</a
      >
    </div>
  </div>
</template>

<script>
export default {
  props: ["pos", "label", "destinations"]
};</script
>>

<style lang="scss">
.game-tile {
  float: left;
  position: relative;
  width: 33.33333%;
  height: 33.33333%;
  box-sizing: border-box;
  background: #e5e5e5;
  border: 1px solid #cccccc;
  color: #555555;
  font-size: 20px;
  .label {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 2em;
  }
  .destinations {
    position: absolute;
    height: 100%;
    width: 100%;
    a {
      position: absolute;
      display: block;
      text-align: center;
      width: 30%;
      height: 30%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 1.25em;
      cursor: pointer;
    }
    a:hover {
      background: #dddddd;
    }
    .up {
      top: 0;
      left: 33.33333%;
    }
    .down {
      bottom: 0;
      left: 33.33333%;
    }
    .left {
      top: 33.33333%;
      left: 0;
    }
    .right {
      top: 33.33333%;
      right: 0;
    }
  }
}

@media screen and (max-width: 700px), screen and (max-height: 700px) {
  .game-tile {
    font-size: 18px;
  }
}

@media screen and (max-width: 500px), screen and (max-height: 500px) {
  .game-tile {
    font-size: 14px;
  }
}
</style>
