<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Game</router-link> |
      <router-link to="/about">About</router-link>
      <div id="score">Score: {{ gameScore }}</div>
    </div>
    <div id="main">
      <keep-alive>
        <router-view />
      </keep-alive>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "App",
  computed: {
    ...mapState(["gameScore"])
  }
};
</script>

<style lang="scss">
html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
}
#app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
}
#nav {
  background: #eeeeee;
  text-align: center;
  padding: 20px;
  height: 60px;
  box-sizing: border-box;
  a {
    color: black;
    text-decoration: none;
  }
  a.router-link-exact-active {
    font-weight: bold;
  }
}
#score {
  font-size: 14px;
}
#main {
  background: #f5f5f5;
  flex-grow: 1;
  padding: 10px;
  display: flex;
}
</style>
